/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	transition:0.3s all;
	/*animation:0.5s Show forwards;*/
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}

input,button, textarea{
	border: 1px solid #cecece;
	outline: none;
	color:#bdbdbd;
}

input::-webkit-input-placeholder{
	color:#bdbdbd;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#bdbdbd;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#bdbdbd;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
	color:#bdbdbd;
}

hr {
	height:1px;
	border:none;
	background-color: #dddedd
}
.weather_air {
	background-color: rgb(92, 191, 76);
	color:#fff;
	padding:2px 5px;
	border-radius:8px;
}

.ivu-dropdown-rel {
	border:1px solid #dddedd;
	border-radius:10%;
	padding:8px;
}
.ivu-dropdown {
	margin-left: 0;
}
.ivu-dropdown-menu {
	max-height:200px;
	overflow-y: scroll;
}

.main_news .bar_detail p:nth-of-type(1){
	font-weight:700;
	height: 40px;
	overflow:hidden;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.in {
  background-color:#ef5353;
  border:none;
  color:#fff;
}
.in:hover {
  background-color: #ef827e;
}
.ivu-btn:hover {
  color:#fff;
}

.art .art_main p img {
	display: block;
	margin:20px auto;
  max-width:100%;
}
.user_head img,.user_art img {
	border:1px solid #c3cacc;
}
.fans_list2 {
  margin:40px;
  font-size:18px;
  text-align: center;
	animation: 0.5s Show forwards;
}

.list_wrap .list {
	animation: 0.5s Show forwards;
}

.end {
	text-align: center;
	color: #e95f01;
	text-shadow: 0 0 1px #e95f01;
	letter-spacing: 3px;
	margin:50px 0 10px 0;
}



/*------------------------------------------*/
@keyframes Show {
  0% {
    opacity:0;
    transform:scale(0);
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}